<app-prev-next></app-prev-next>

<div class="main-container">
  <mat-grid-list cols="8" rowHeight="3em">
    <mat-grid-tile colspan="6">
      <mat-card>
        <h4>Person 1</h4>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card class="sm-card">
        <span>Yes</span>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card class="sm-card">
        <span>No</span>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="8" rowHeight="3em">
    <mat-grid-tile colspan="6">
      <mat-card>
        <h4>Person 2</h4>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card class="sm-card">
        <span>Yes</span>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-card class="sm-card">
        <span>No</span>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="8" rowHeight="3em">
    <mat-grid-tile colspan="6">
      <mat-card>
        <h4>Person 3</h4>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-card class="sm-card">
          <span>Yes</span>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-card class="sm-card">
          <span>No</span>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<hr>

<mat-grid-list cols="3" rowHeight="3em">
  <mat-grid-tile colspan="1">
    <mat-card>
      <h4>Person 1</h4>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <h4>Person 2</h4>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <h4>Person 3</h4>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      <p>Andouille drumstick fatback swine tail shank strip steak ham hock flank hamburger sirloin. Turducken rump meatball ground round pork belly shank. Chicken bresaola prosciutto chuck kevin leberkas, corned beef pancetta pork chop tongue meatball burgdoggen spare ribs picanha beef ribs.</p>
      <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Andouille drumstick fatback swine tail shank strip steak ham hock flank hamburger sirloin. Turducken rump meatball ground round pork belly shank. Chicken bresaola prosciutto chuck kevin leberkas, corned beef pancetta pork chop tongue meatball burgdoggen spare ribs picanha beef ribs.</p>
      <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <p>Andouille drumstick fatback swine tail shank strip steak ham hock flank hamburger sirloin. Turducken rump meatball ground round pork belly shank. Chicken bresaola prosciutto chuck kevin leberkas, corned beef pancetta pork chop tongue meatball burgdoggen spare ribs picanha beef ribs.</p>
      <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>